src/main/mule/example-github-template.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ea0be84d-9d29-45ce-bf81-151ba2b0433d" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="example-github-templateFlow" doc:id="b0b8932b-f708-4a79-ab00-5962767dd652" >
		<http:listener doc:name="Listener" doc:id="5b915463-fbfc-4cc8-b412-39253c9b2be9" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value='#["It works!"]' doc:name="Set Payload" doc:id="f7ee33a7-813c-4f76-892b-d2b21a211749" />
		<logger level="INFO" doc:name="Logger" doc:id="f76912e6-2184-4786-a175-705f0c43aaad" message="#[payload]"/>
	</flow>
</mule>
